RewriteEngine On
RewriteCond %{HTTPS} on
#RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#RewriteRule .? https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#Heroku way
RewriteCond %{HTTP:X-Forwarded-Proto} . 

#If neither above conditions are met, redirect to https
RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]